#textdomain wesnoth-taotwc

[scenario]
    id=17b_The_Final_Option
    name= _ "The Final Option"
    map_data="{~add-ons/The_Attack_Of_The_Western_Cavalry/maps/17b_The_Final_Option.map}"
    next_scenario=18b_Epilogue
    turns=40

    {DEFAULT_SCHEDULE_AFTERNOON}
    {~add-ons/The_Attack_Of_The_Western_Cavalry/utils/summarise_no_deaths.cfg}

    [story]
        [part]
            story= _ "Although Aethyr and a few men survived the anger of the Lance and its Owner, they were unable to handle this doom Lawrence let out."
            background=story/lifeaway.jpg
        [/part]
        [part]
            story= _ "They mounted and began to gallop to the east, to reach Arya and the fleeing elves."
            background=story/swamp.png
        [/part]
        [part]
            story= _ "Believe or not, but in 6 days, they stood on the front of the Lintanir Forest."
            background=story/forest.jpg
        [/part]
        [part]
            story= _ "Nevertheless, Ethiliel was absolutely right about the ancient forest. They could not enter. 
While they were approaching in the road, a few seconds later, they got a vast arrow shower."
            background=story/final_battle.jpg
        [/part]
        [part]
            story= _ "Swords against Swords. Westerns and Wesnothains against Elves and Wesnothians."
            background=story/final_battle.jpg
        [/part]
        [part]
            story= _ "Those few wesnothians who fought on the side of Aethyr were killed fast. They were very few, and they were unused to fighting among woods. Their pouring blood painted the trees red."
            background=story/final_battle.jpg
        [/part]
        [part]
            story= _ "And then, when Aethyr beheaded a yielding elf, he spotted Arya. She was sitting on her horse, and telling something a soldier who was next to her.
Aethyr shouted at her, but she could not notice Aethyr in the crowd."
            background=story/final_battle.jpg
        [/part]
        [part]
            story= _ "So Aethyr made his way towards Arya, but then a mighty elvish warrior stood before him. They started to cross swords..."
            background=story/final_battle.jpg
        [/part]
		[part]
			story= _ "Out of my way!"
			background=portraits/aethyr_ghost.png
		[/part]
		[part]
			story= _ "Chop me dead, then, filthy zombie!"
			background=portraits/elves/transparent/hero.png.png
		[/part]
        [part]
            story= _ "They duelled for about 5 minutes. They were even in fencing, but finally an arrow hit Aethyr's ankle, so he lost his balance, made a bad step, so the elf's sword slipped on Aethyr's shield, and hit his side. The blade pierced plate and chain mail, entered flesh. Aethyr cried out, then collapsed. As he jerked on the ground, the elf lifted his sword, to behead Aethyr, but then an arrow drove him off. "
            background=story/fight2.jpg
        [/part]
        [part]
            story= _ "Morgan stood in front of Aethyr"
            background=story/final_battle.jpg
        [/part]
        [part]
            story= _ "The opposing fighters looked at each other - they did not want to carry on killing each other. Arya let the survived westerns to enter the forest and live together."
            background=story/ancient_forest.png
        [/part]
    [/story]

    #########
    ##SIDES##
    #########
    [side]
#ifdef EASY
        gold=235
#endif
#ifdef HARD
        gold=210
#endif
        type=Western Knight
        id=Aethyr
        name= _ "Aethyr"
        unrenamable=yes
        profile="portraits/aethyr.png"
        side=1
        canrecruit=yes
        controller=human
        {FLAG_CAVALRY}
        recruit=Skeleton2,Skeleton Archer2,Walking Corpse2,Ghoul2,Ghost2,Skeleton Rider2,Immortal Horseman,Immortal Cavalryman,Immortal Sergeant
        team_name=Westerns
        user_team_name=_"Western Cavalry"
        fog=no
    [/side]
    [side]
        type=Guard
        id=Undernessguard
        name= _ "Guard of the Underness"
        side=2
        controller=ai
        canrecruit=yes
#ifdef EASY
        recruit=Execute Attendant,Executer
#endif
#ifdef HARD
        recruit=Execute Attendant,Executer,Guard
#endif
        team_name=Devils
        user_team_name=_"Army of the Underness"
        fog=yes
        {AGGRESSION_OVERALL (5.0)}
#ifdef EASY
        gold=400
#endif
#ifdef HARD
        gold=500
#endif
        share_view=yes
        share_maps=yes
    [/side]
    [side]
        type=Grand Marshal
        id=Ergrond
        name= _ "Ergrond"
        profile=portraits/ergrond.png
        side=3
        controller=ai
        canrecruit=yes
        recruit=Spearman,Bowman,Mage,White Mage,Red Mage,Pikeman,Swordsman,Longbowman
        team_name=Westerns
        user_team_name=_"Wesnothians"
        fog=yes
        {AGGRESSION_OVERALL (-2.0)}
        [ai]
            {TARGET_ON x,y=19,2 100}
        [/ai]
#ifdef EASY
        gold=250
#endif
#ifdef HARD
        gold=230
#endif
        share_view=yes
    [/side]
    [side]
        type=Orcish Warlord
        id=Gublur
        name= _ "Gublur"
        side=4
        controller=ai
        canrecruit=yes
        recruit=Orcish Grunt,Orcish Archer,Orcish Assassin2,Troll Whelp2,Goblin Spearman
        team_name=Orcs
        user_team_name=_"Orcs"
        fog=yes
#ifdef EASY
        gold=180
#endif
#ifdef HARD
        gold=210
#endif
    [/side]



    {ANIMATED_CAMPFIRE 32 15}
    {ANIMATED_CAMPFIRE 32 16}
    {ANIMATED_CAMPFIRE 34 15}
    {ANIMATED_CAMPFIRE 34 16}
    {ANIMATED_CAMPFIRE 33 15}
    {ANIMATED_CAMPFIRE 33 17}

    {ANIMATED_MAUSOLEUM 15 37}


    {CORPSES (
        {NOT id=Aethyr}
        {NOT id=Morgan}
        {NOT id=Warwick}
        {NOT id=Leogwyn}
        {NOT id=Garak}
        {NOT id=Ethiliel}
        #{NOT id=Okraf}
    )}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Fight to survive...you might have a chance..."
                condition=win
            [/objective]
            [objective]
                description= _ "You may lose some of the heroes, but not all of them!"
                condition=win
            [/objective]
            note= _ "It is claimed in an old chronic: In the game of power, you win or you die. The first option is relative, the second one is certain."
        [/objectives]

        [item]
            x,y=19,1
            image=scenery/signpost.png
        [/item]
        {VARIABLE devil_turns 1}
    [/event]


    [event]
        name=start
        [recall]
            id=Morgan
        [/recall]
        [recall]
            id=Warwick
        [/recall]
        [recall]
            id=Leogwyn
        [/recall]
        [recall]
            id=Garak
        [/recall]
        [message]
            speaker=Aethyr
            message= _ "Stop! Lay down your weapons, and we will have you unharmed!"
        [/message]
        [message]
            speaker=Ergrond
            message= _ "What else can we do? I am the last general of Wesnoth, we have run out of armoury and soldiers. We do surrender."
        [/message]
        [message]
            speaker=Aethyr
            message= _ "Thank you. I wouldn't like to see you killed, but unfortunately Emperor Lawrence possibly would..."
        [/message]
        {EARTHQUAKE (
            {SCROLL_TO 33 16}
        )}
        [message]
            speaker=Undernessguard
            message= _ "Ruarr! What are you doing? In the Underness, everybody has gone crazy!"
        [/message]
        [message]
            speaker=Undernessguard
            message= _ "Mankind...the origin of everything stupid. I see now..."
        [/message]
        [message]
            speaker=Undernessguard
            message= _ "The Lance have been upstairs in the ground for 11726 years, but now, it exclaims for its rightful owner, the Devil himself. I am to take the Lance and destroy this continent and you people who spoiled everything with your lust for power!"
        [/message]
        #{EARTHQUAKE (#)}
        {SCROLL_TO 17 37}
        {DELAY 700}
        [message]
            speaker=Ergrond
            message= _ "Then...I think...maybe we ought to fight together...this creature does not seem to be joking..."
        [/message]
        [message]
            speaker=Aethyr
            message= _ "If we enraged the Underness, we are all dead men. Run for your life!!!"
        [/message]
        [message]
            speaker=Warwick
            message= _ "That's okay but...where???"
        [/message]
        [message]
            speaker=Aethyr
            message= _ "I dunno! To the north! Follow Arya's path!"
        [/message]
        [modify_side]
            side=1
            fog=yes
        [/modify_side]
    [/event]

    # event to rate gold to the devil
    [event]
        name=new turn
        first_time_only=no
        [if]
            [variable]
                name=devil_turns
                greater_than_equal_to=5
            [/variable]
            [then]
                {IFDEF_EASY (
                    {ADD_GOLD 2 100}
                )}
                {IFDEF_HARD (
                    {ADD_GOLD 2 175}
                )}

                {VARIABLE devil_turns 0}
            [/then]
        [/if]

        [if]
            [variable]
                name=devil_turns
                less_than=5
            [/variable]
            [then] 
                {VARIABLE_OP devil_turns add 1}
            [/then]
        [/if]

    ################
    ## ARMAGEDDON ##
    ################


            
        {STORE_UNIT id=Aethyr leader1 no}
        {STORE_UNIT id=Warwick leader2 no}
        {STORE_UNIT id=Henrik leader3 no}
        {STORE_UNIT id=Ergrond leader4 no}
        {STORE_UNIT id=Gublur leader5 no}

        {EARTHQUAKE (
            [store_locations]
                [not]
                    x,y=$leader1.x,$leader1.y
                [/not]
                [not]
                    x,y=$leader2.x,$leader1.y
                [/not]
                [not]
                    x,y=$leader3.x,$leader3.y
                [/not]
                [not]
                    x,y=$leader4.x,$leader4.y
                [/not]
                [not]
                    x,y=$leader5.x,$leader5.y
                [/not]
                [not]
                    terrain=Qlf
                [/not]
                [not]
                    terrain=Ke
                [/not]
                variable=lava_float
            [/store_locations]


            {FOREACH lava_float i}
                {RANDOM 1..90}
                [if]
                    [variable]
                        name=random
                        numerical_equals=1
                    [/variable]
                    [then]
                        [terrain]
                            x,y=$lava_float[$i].x,$lava_float[$i].y
                            terrain=Qlf
                        [/terrain]
                    [/then]
                [/if]
            {NEXT i}
        )}
        {CLEAR_VARIABLE lava_float,leader1,leader2,leader3,leader4}  

        [kill]
            [filter_location]
                terrain=Qlf
            [/filter_location]
            [not]
                type=Execute Attendant
            [/not]
            [not]
                type=Executer
            [/not]
            [not]
                type=Guard
            [/not]
            [not]
                type=Devil
            [/not]
            animate=yes
            fire_event=yes
        [/kill]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=19
            y=1
        [/filter]
        [message]
            speaker=unit
            message= _ "I can't believe...we did it! We cheated the Devil!"
        [/message]
        [message]
            speaker=Aethyr
            message= _ "He is not the devil, he is just a guard fortunately...a we can't cheat him either, we can only hope and run and escape! Now, follow the way Arya and her company went!"
        [/message]
        {VICTORY}
    [/event]


    ##################
    ## HOW TO DIE...##
    ##################
    [event]
        name=last breath
        [filter]
            id=Henrik
        [/filter]
        [message]
            speaker=Ergrond
            message= _ "Wesnoth has fallen! Wesnoth has permanently fallen!"
        [/message]
        {DEFEAT}
    [/event]
    [event]
        name=last breath
        [filter]
            id=Ergrond
        [/filter]
        [message]
            speaker=Ergrond
            message= _ "Ough...if you don't have any general young Henrik, you will lose everything..."
        [/message]
        {DEFEAT}
    [/event]
    [event]
        name=last breath
        [filter]
            id=Warwick
        [/filter]
        [message]
            speaker=Aethyr
            message= _ "No! You can't die..."
        [/message]
        {DEFEAT}
    [/event]
    [event]
        name=last breath
        [filter]
            id=Garak
        [/filter]
        [message]
            speaker=Garak
            message= _ "Ough...I hope I died for a tryumphent, beautiful Western Empire!"
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Leogwyn
        [/filter]
        [message]
            speaker=Leogwyn
            message= _ "Ah...my false life comes to an end here...at last..."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Morgan
        [/filter]
        [message]
            speaker=Morgan
            message= _ "Hhh...getting a bit bored...now, I die for the thrind time! Isn't it bothering a bit?!"
        [/message]
    [/event]





[/scenario]

