#textdomain wesnoth-httt
[unit_type]
    id=Sea Orc
    name= _ "Sea Orc"
    race=orc
    image="units/orcs/sea-orc.png"
    profile="portraits/orcs/sea-orc.png"
    hitpoints=44
    movement_type=swimmer
    movement=5
    experience=70
    level=2
    alignment=chaotic
    advances_to=Ocean Orc
    {AMLA_DEFAULT}
    cost=23
    usage=fighter
    description= _ "Azok a vízi orkok, akik megtanulnak sokáig víz alatt maradni, esetleg elkerülhetik, hogy az első percben leszúrják őket a sellők. Így tapasztalatra tehetnek szert, ezért a vezérek is jobban vigyáznak rá."
    die_sound={SOUND_LIST:ORC_SMALL_DIE}
    {DEFENSE_ANIM "units/orcs/sea-orc-defend.png" "units/orcs/sea-orc.png" {SOUND_LIST:ORC_SMALL_HIT} }
    [attack]
        name=sword
        description= _"sword"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/orcs/sea-orc.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/orcs/sea-orc-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/orcs/sea-orc-attack.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/orcs/sea-orc-attack.png"
        [/frame]
    [/attack_anim]
[/unit_type]
